*
{
    border: 1px inset #CCCCFF;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: #0000FF;

}
#body a
{
    color: #0000FF;
}

#body
{
    width: 1000px;
    text-align: center;
    margin: 0 auto;

}
#logo
{
    width:277px;
    height:60px;
    float:left;
    background-color:blue;

}
#headtext
{
    height:60px;
    width:500px;
    float:right;
    
    
}
#headtext p
{
     line-height:60px;
    
}
#headtext p a
{
    color: #000000;
    text-transform: none;
}

#navigation
{
    width:1000px;
    height:60px;
    clear:both;
    
}
#time
{
    width:20%;  
    float:left;
   
}
#time p
{
    line-height:60px;
}
#naviggationtext
{
    width:79%;
    float:right;
    
}
#bt li
{
    float: left;
    width:16.2%;
    height: 40px;
    line-height:60px;
    
}
li{list-style-type: none;}
li a
{
    text-decoration: none;
    color: #000000;
}
#COM1
{
    line-height:50px;
}
#shang
{
    margin-bottom:40px;
    }
#navigation,#time,#naviggationtext{ height:60px;}

#picture
{
    width:800px;
    height:200px;
    margin:0 auto;
    background-color:blue;
}
#commcon,#Commodity,#content,#ContentPlaceHolder1
{
    height:400px;
    
}
#Commodity
{
    width:20%;
    float:left;
}
#content
{
    width:79%;
    float:right;
}